* {
  padding: 0;
  margin: 0;
  font-weight: normal;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  font-style: normal;
}

p {
  line-height: 15px;
}
li {
  line-height: 25px;
}

ul li {
  list-style-type: disc;
  list-style-position: inside;
}

.mkp__mt {
  margin-top: 15px;
}

.mkp__font__bold {
  font-weight: bold;
  font-style: normal !important;
}

.mkp__href {
  color: blue;
}

.mkp_mb {
  margin-bottom: 20px;
}

.mkp__mx {
  margin-left: 20px;
  margin-right: 20px;
}

.mkp__heading_h4 {
  border-bottom: 2px solid #5c71b1;
  margin-bottom: 10px;
  margin-top: 10px;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.mkp__my {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mkp_container {
  width: 70vw;
  margin: auto;
  margin-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  /* background-color: aliceblue; */
}

.mkp__header {
  display: grid;
  grid-template-columns: 80% auto;
  gap: 20px;
  padding: 0px 20px;
}

.mkp__main {
  padding: 20px;
}

/*.mkp__tool {
  display: grid;
  grid-template-columns: 50% 50%;
}*/

.mkp__repeact__grid__container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}

.mkp__header__image img {
  width: 200px;
  height: 200px;
  border: 1px solid green;
}
.mkp__education__container {
  display: grid;
  grid-template-columns: 78% 21%;
  grid-gap: 0px 14px;
}

.mkp__education__container p {
  line-height: 25px;
}

.mkp__industiral__container {
  grid-template-columns: 29% 70%;
  display: grid;
  margin-bottom: 20px;
  grid-gap: 0px 14px;
}

.mkp__references__container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 20px;
}

p.yorking-year {
  text-align: right;
}
#saveData {
  display: none;
  background-color: forestgreen;
  color: white;
  transition: 0.5s;
}
button {
  border: none;
  padding: 5px 10px;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: normal;
  font-family: Arial;
  font-size: 18px;
}
button#cvEditable:hover,
#saveData:hover {
  background: #5c71b1;
  // color: #000;
}

button#cvEditable {
  background: orange;
  color: white;
  position: absolute;
  right: 100px;
  transition: 0.5s;
}

ul.skill-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px 15px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* edit button add button remove  */
.mkp__card {
  display: none;
  position: absolute;
  top: 0;
  padding: 10px 20px;
}

.mkp__card button {
  padding: 5px 10px;
  border: 1px solid #222;
  background-color: blueviolet;
  color: #fff;
}

.ref-address {
  display: grid;
  grid-template-columns: 35% 64%;
  grid-column-gap: 15px;
  margin-bottom: 5px;
}

.mkp__header__information address p {
  display: grid;
  grid-template-columns: 26% 72%;
  gap: 10px 18px;
}

@media screen and (max-width: 992px) {
  .mkp_container {
    width: 100vw;
    padding: 0px;
  }
  .mkp__references__container {
    display: block;
  }
  .ref-address {
    display: grid;
    grid-template-columns: 20% 80%;
  }
  /*   .mkp__references__container :nth-child(2n+1) {
          border-top: 1px solid blue;
      }*/
  .second-ref {
    margin-top: 30px;
    border-top: 2px solid #5c71b1;
  }
  button#cvEditable {
    right: 10px;
  }
}
